@model ProjectManagementSystem.ViewModels.TaskVM.DetailsTaskVM

@{
    ViewBag.Title = "Details";
}

<h2>Task Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentageDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Comments</h2>

<p>
    @Html.ActionLink("Create Comment", "Create", "Comment", new { id = Model.Id }, null)
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Creator</th>
        <th>Options</th>
    </tr>

    @for (int i = 0; i < Model.CommentsVM.Items.Count(); i++)
    {
        <tr>
            <td>@Model.CommentsVM.Items[i].Title</td>
            <td>@Model.CommentsVM.Items[i].Content</td>
            <td>@Model.CommentsVM.creators[i]</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Comment", new { id = Model.CommentsVM.Items[i].Id },null) |
                @Html.ActionLink("Delete", "Delete", "Comment",new { id = Model.CommentsVM.Items[i].Id },null)
            </td>
        </tr>
    }

</table>
@Html.Partial("~/Views/Shared/_Pager.cshtml", Model.CommentsVM.Pager)
