@model ProjectManagementSystem.ViewModels.PositionVM.ListPositionVM

@{
    ViewBag.Title = "Index";
}

<h2>Positions</h2>
@Html.Partial("~/Views/Shared/_Search.cshtml", Model.Filter)
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Options</th>
    </tr>

@foreach (var item in Model.Items)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Salary</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
@Html.Partial("~/Views/Shared/_Pager.cshtml", Model.Pager)