@model  ProjectManagementSystem.ViewModels.EmployeeVM.ListEmployeeVM

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Position</th>
        <th>Team</th>
        <th>Options</th>
    </tr>

@for (int i = 0; i < Model.Items.Count(); i++ )
{
    <tr>
        <td>@Model.Items[i].FirstName @Model.Items[i].LastName</td>
        <td>@Model.Items[i].Email</td>
        <td>@Model.positions[i]</td>
        <td>@Model.teams[i]</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Items[i].Id })
        </td>
    </tr>
}

</table>
@Html.Partial("~/Views/Shared/_Pager.cshtml", Model.Pager)