@model ProjectManagementSystem.ViewModels.ProjectVM.ListProjectVM

@{
    ViewBag.Title = "Index";

}

<h2>Projects</h2>

@if (Model.Items.FindAll(i => i.EndDate > DateTime.Now && i.EndDate <= DateTime.Now.AddDays(5)).Count > 0)
{
    <div class="alert alert-danger">
    <ul>
        @foreach (var item in Model.Items.FindAll(i => i.EndDate > DateTime.Now && i.EndDate <= DateTime.Now.AddDays(5)))
        {
            <li>Project @item.Name will end soon</li>
        }
    </ul>
</div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Finished</th>
        <th>Team</th>
        <th>Options</th>
    </tr>

@for (int i = 0; i < Model.Items.Count(); i++ )
{
    <tr>
        <td>@Model.Items[i].Name</td>
        <td>@Model.Items[i].StartDate</td>
        <td>@Model.Items[i].EndDate</td>
        <td>@Model.Items[i].Finished</td>
        <td>@Model.teams[i]</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Create Report", "Create", "Project_Report", new { id = Model.Items[i].Id }, null)
        </td>
    </tr>
}

</table>

@Html.Partial("~/Views/Shared/_Pager.cshtml", Model.Pager)