@model ProjectManagementSystem.ViewModels.TeamVM.ListTeamVM

@{
    ViewBag.Title = "Index";
}

<h2>Teams</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Options</th>
    </tr>

@for (int i = 0; i < Model.Items.Count(); i++) {
    <tr>
        <td>@Model.Items[i].Name</td>
        <td>@Model.departmentNames[i]</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Items[i].Id })
        </td>
    </tr>
}

</table>

@Html.Partial("~/Views/Shared/_Pager.cshtml", Model.Pager)
