@model ProjectManagementSystem.ViewModels.CommentVM.ListCommentVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Task</th>
        <th>Creator</th>
        <th>Options</th>
    </tr>

@for (int i = 0; i < Model.Items.Count(); i++ )
{
    <tr>
        <td>@Model.Items[i].Title</td>
        <td>@Model.tasks[i]</td>
        <td>@Model.creators[i]</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Items[i].Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Items[i].Id })
        </td>
    </tr>
}

</table>
